<title><h1>Segmenting and Clustering</h1></title>
<h2>Below are the steps:</h2>
<b>Step 1</b>
Import all important libraries

In [21]:
import pandas as pd
import numpy as np

<b>Step 2</b>
Scrap the data from the url

In [22]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url,skiprows=0)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

<b>Step 3</b>
Group the dataframe into a unique Postcode and Borough

In [23]:
newdf=df.groupby(['Postcode','Borough'],as_index=False,sort=False).agg(', '.join)
newdf.head()

  Postcode           Borough              Neighbourhood
0      M1A      Not assigned               Not assigned
1      M2A      Not assigned               Not assigned
2      M3A        North York                  Parkwoods
3      M4A        North York           Victoria Village
4      M5A  Downtown Toronto  Harbourfront, Regent Park

<b>Step 4</b>
Change all the Neighbourhood into Borough if Borough is assigned already, or into a NaN value

In [24]:
for i in range(0,288):
    if df['Neighbourhood'][i]=='Not assigned' and df['Borough'][i]=='Not assigned':
        df['Neighbourhood'][i]=np.nan
    if df['Neighbourhood'][i]=='Not assigned' and df['Borough'][i]!='Not assigned':
        df['Neighbourhood'][i]=df['Borough'][i]
newdf.head()

  Postcode           Borough              Neighbourhood
0      M1A      Not assigned               Not assigned
1      M2A      Not assigned               Not assigned
2      M3A        North York                  Parkwoods
3      M4A        North York           Victoria Village
4      M5A  Downtown Toronto  Harbourfront, Regent Park

<b>Step 5</b>
Remove all rows with 'Not assigned' in it

In [25]:
newnewdf=newdf.copy()
newnewdf['Neighbourhood'].replace('Not assigned', np.nan,inplace=True)
newnewdf.dropna(subset=['Neighbourhood'],axis=0,inplace=True)
newnewdf.head()

  Postcode           Borough                     Neighbourhood
2      M3A        North York                         Parkwoods
3      M4A        North York                  Victoria Village
4      M5A  Downtown Toronto         Harbourfront, Regent Park
5      M6A        North York  Lawrence Heights, Lawrence Manor
8      M9A         Etobicoke                  Islington Avenue

<h2>Results</h2>

In [32]:
print('NUMBER OF ROWS: '+str(newnewdf.shape[0]))

NUMBER OF ROWS: 102